@CHARSET "UTF-8";
/**
 * @doc 前台公共样式
 * @author fanggang
 * @time 2015-11-21 22:11:30
 */
/* 常用及简写样式 */
.fixed{position:fixed;z-index:100;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clear{clear:both;content:" ";display:block;}
.clear-left{clear:left;content:" ";display:block;}
.clear-right{clear:right;content:" ";display:block;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.for-eye-protect{background:#e3edcd;}
.none{display:none}
.relative{position:relative}
.main-wrap{
    max-width:1200px
}
.left-block{display:none;}
/* 通用命名下的样式 */
.wrap{width:100%;}
.wrap,
.main-wrap,
.header,
.main,
.footer,
.center-wrap,
.left-wrap,
.right-wrap{margin:0 auto;}
[class*="-wrap"]{margin:0 auto;}
.float-block{float:left;}
/* S 头部 S */
